h1 {
  text-align: center;
}

header {
  margin: 2em 0;
}

#grid-12 {
  display: grid;
  grid-template-columns: 4fr 8fr;
  column-gap: 2em;
}

.my {
  margin-bottom: 2rem;
}

#projects-aside {
  cursor: pointer;
}
